<!DOCTYPE html>
<html>
<head>
  <title>Callbacks</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div style="height:100px;width:auto;background-color:#008080;">
<br/>
<br/>
<h1 style="color:#FFFFFF;" > Social Networking .....</h1>
</div>
<br/>
<%= yield %>

</body>
</html>
